:root{
    --background-color:#0D0D0D;
    --bloxs:#1A1A1A;
    --hover-color:#B30000;
    --main-text:#F5F5F5;
}
.container{
   padding-left: 10px;
   padding-right: 10px;
   
    width: 1300px;
   margin: 0 auto;
   outline: 1px solid red;

}
body{
     font-family: "Black Ops One";
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
    background-color: var(--background-color);
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header_div{
    border: solid red 1px;
    background-color: #0a000f;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content:center ; 
    align-items: center;
}
.header_div a{
color: var(--hover-color);

}

.header_logo{
padding-right: 50px;
}
.nav{
 gap: 30px;
 margin-left: 10px;
}

.contact{
    display: flex;
    gap: 20px;
    margin-left: auto;
    
}
.hero_div{
border: solid red 1px;

}
.hero{
    padding-top: 70px;
    padding-bottom: 70px;
}

.card_ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px;
    
}
.hero_li{
    
    background-color: var(--bloxs);
    
   
border:solid #0a000f 3px;   
 transition-property: box-shadow;
  transition-duration: 100ms;
  border-radius: 7px;
}
.hero_li:hover{
    box-shadow: #B30000  3px 3px 2px 4px;
    border-radius: 4px;
    transform:translateY(-3%);

}

.hero_img{
    border: solid #0a000f 1px;
}
.sec_ul{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
}
.sec_li{
    margin-bottom: 30px;
        font-family: "Black Ops One";
    font-weight: 700;
    font-style: normal;

}
.footer_div{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #020202;
}